<app-cus-nav></app-cus-nav>

<div class="body">
  
  <br><br><br>
  <div class="table-wrapper-scroll-y pl-5 pr-5">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
  
  
            <th scope="col" style="font-family: 'ZCOOL XiaoWei', sans-serif; font-weight:600; font-size: 32px ;text-align:center;font-weight:bold;">Order NO</th>
            <th scope="col" style="font-family: 'ZCOOL XiaoWei', sans-serif; font-weight:600; font-size: 32px ;text-align:center;font-weight:bold;">Item name</th>
            <th scope="col" style="font-family: 'ZCOOL XiaoWei', sans-serif; font-weight:600; font-size: 32px ;text-align:center;font-weight:bold;">Price</th>
            <th scope="col" style="font-family: 'ZCOOL XiaoWei', sans-serif; font-weight:600; font-size: 32px ;text-align:center;font-weight:bold;">No of items</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let table of tables">
              <td scope="col" style="font-family: 'ZCOOL XiaoWei', sans-serif; padding-top: 100px;;text-align:center;font-weight:bold;" ><h3></h3></td>
              <td scope="col" style="font-family: 'ZCOOL XiaoWei', sans-serif; padding-top: 100px;;text-align:center;font-weight:bold;"><h3></h3></td>
              <td scope="col" style="font-family: 'ZCOOL XiaoWei', sans-serif; padding-top: 100px;;text-align:center;font-weight:bold;"><h3></h3></td>
          </tr>
  
  
        </tbody>
      </table>
  
  
    </div>
  </div>
  
