.body{
  background-image: url('../../assets/images/createtable.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  width: auto;
  height: 1000px;
  align-items: center;
  align-content: center;
}
