.sign{
    margin-left: 33%;
    margin-right: 33%;
}
.body {
    background-image: url('../../assets/images/home1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    width: auto;
    height: 1200px;
    align-items: center;
    align-content: center;
}
