<app-nav-log></app-nav-log>
<div class="body">
    <div class="background">
      <br><br><br><br>
      <div class="container">
        <div class="heading">
            <p style="font-family: 'ZCOOL XiaoWei', serif;font-size: 70px; font-weight:700; color:black; text-align: center">Welcome to Food Hub</p>
        </div>
  
      </div>
    </div>
  
  
  

<br><br>
<div>
  <div class="row">
    <div class="col-6 pl-5">
      <button class="btn btn-elegant btn-block"
        style="font-family: 'ZCOOL XiaoWei', serif;font-size: 30px; font-weight:700" (click)="createTable()">Add
        Table</button>
    </div>
    <div class="col-6 pr-5">
      <button class="btn btn-elegant btn-block"
        style="font-family: 'ZCOOL XiaoWei', serif;font-size: 30px; font-weight:700" (click)="additem()">Add
        Item</button>
    </div>
  </div>
</div>
<br><br>
</div>
