<app-nav></app-nav>
<div class="body">
   <div class ="container">
    <div class="background">
        <br><br><br><br><br> <br><br><br>
        <div class="heading"> 
            <p>Welcome to Foodhub</p>
        </div>
        <div class="describe">
                <h4 style="
                    font-size: 40px;
                    font-family: 'ZCOOL XiaoWei'; 
                    font-weight:700;
                    color: rgb(0, 0, 0);
                    margin-left:100px;"
                    >
                    <strong>Buy and sell whatever you want & enjoy your life with offers</strong>
                </h4>
              </div>
    </div>
</div>
</div>